body {
    margin: 0px;
    background-color: #FFF1E5;
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    float: left;
}
.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* Topbar */
#topbar {
    background-color: #272727;
    padding: 10px 0px;
}
#topbar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#topbar ul li{
    display: inline-block;
    margin: 0px 20px;
}
#topbar a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
#topbar .high {
    color: #9cd321;
    border: 1px solid #9cd321;
    padding: 0px 6px;
    border-radius: 3px;
}
#topbar .low {
    color: #ff767c;
    border: 1px solid #ee2f01;
    padding: 0px 6px;
    border-radius: 3px;
}

/* Header */
#header {

}
#header .header_top {
    padding: 15px 0px;
}
#header .header_top i {
    font-size: 22px;
}
#header .header_top .btn_navigation {
    width: 8%;
    padding: 15px 0px;
}
#header .header_top .search {
    width: 8%;
    padding: 15px 0px;
}
#header .header_top h1 {
    font-family: sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}
#header .header_top .logo {
    width: 60%;
    text-align: center;
}
#header .header_top .myft {
    width: 8%;
    padding: 15px 0px;
}
#header .header_top .myft a {
    font-style: italic;
}
#header .header_top .myft span {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 24px;
    font-style: normal;
}
#header .header_top a {
    color: #272727;
    text-decoration: none;
}

#header .header_bottom {
    position: relative;
}

/* Main Navigation */
#main-navigation {
    width: 60%;
}
#main-navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#main-navigation ul li {
    display: inline-block;
    padding-right: 12px;
    font-weight: bold;
    font-size: 14px;
}
#main-navigation ul li a {
    text-transform: uppercase;
    color: #33302e;
    text-decoration: none;
    padding-bottom: 10px;
}
#main-navigation ul li a:hover{
    border-bottom: 3px solid #33302e;
}

#main-navigation .dropdown {
    position: absolute;
    width: 100%;
    background-color: #fff;
    left: 0px;
    padding: 20px 15px;
    top: 30px;
    display: none;
}
#main-navigation .dropdown ul li {
    font-weight: normal;
    text-transform: none;
}
#main-navigation .dropdown ul li a{
    text-transform: none;
}
#main-navigation .dropdown .sections {
    width: 30%;
}
#main-navigation .dropdown .sections ul li {
    width: 45%;
}
#main-navigation .dropdown .most-read {
    width: 50%;
    border-left: 1px solid #ccc1b7;
    padding-left: 25px;
}
#main-navigation .dropdown .most-read ul li{
    display: block;
}
#main-navigation .dropdown ul li:hover a{
    text-decoration: underline;
    border: none;
}

#main-navigation ul li:hover .dropdown {
    display: block;
}

/* Content */
#content {
    padding: 50px 0px;
}
#content .container {
    width: 1000px;
}

#section_1 {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc1b7;
}
#section_1 .div_1 {
    width: 48%;
}
#section_1 .div_1 h2 {
    font-size: 36px;
}
#section_1 .div_1 p, #section_1 .div_1 a {
    color: #66605c;
}
#section_1 .div_1 ul {
    border-left: 1px solid #66605c;
}

#section_1 .div_2 {
    width: 48%;
    text-align: center;
    position: relative;
    padding: 15px;
}
#section_1 .div_2 img {
    width: 70%;
    margin-bottom: 20px;
}
#section_1 .div_2 .news_title .link_1 {
    color: #990f3d;
    font-weight: bold;
}
#section_1 .div_2 .analysis {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
#section_1 .div_2 .analysis::after {
    content: "";
    border: 3px solid #990f3d;
    position: absolute;
    bottom: 0px;
    width: 20%;
    left: 50%;
    margin-left: -50px;
}
#section_1 .div_2 .news_title:after{
    content: "";
    background-color: #F2DFCE;
    position: absolute;
    bottom: 0px;
    height: 70%;
    width: 100%;
    left: 0px;
    z-index: -1;
}

#section_1 a {
    color: #000;
    text-decoration: none;
}


/* Footer */
#footer {

}